.product-cards-grid {
  padding: 96px 48px;
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fit, 415px);
  justify-content: center;
  &-mobile {
    grid-template-columns: repeat(auto-fit, 270px);
  }
}
