.main-header {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/ilya-pisman-website.appspot.com/o/GlobalAssets%2Fheader-background.jpg?alt=media&token=a3ef704e-6133-44fa-9403-28a1cbb309f7");
  height: 600px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
