.project-page-container {
  padding: 96px 48px;
  text-align: left;
}

.project-page-image img {
  padding-top: 24px;
  max-width: 100%;
}

.project-page-content {
  padding-top: 24px;
  text-align: left;
}
